<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case Management - Hamza</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="../scripts/slides.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../scripts/header-transition.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="../../loader/dist/js/jquery.preloadinator.min.js"></script>
    <script src="../scripts/loader.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#222222">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="header-black">
        <img onclick="location.href = '../../index.html'" src="../../assets/img/hna_black.png" class="logo-hna">
        <div class="header-item"><a href="mailto:hamza.n.arshadwork@gmail.com" style="color: black">CONTACT</a></div>
        <div onclick="location.href = 'resume.html'" class="header-item"><a>RESUME</a></div>
        <div onclick="location.href = 'portfolio.html'" class="header-item"><a style="border-bottom: 1px solid black;">PORTFOLIO</a></div>
        <div onclick="location.href = 'profile.html'" class="header-item"><a>ABOUT</a></div>
        <div onclick="location.href = '../../index.html'" class="header-item"><a>HOME</a></div>
    </div>
    <div class="preloader js-preloader flex-center">
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <div class="project-title-container">
        <div class="project-title">CASE MANAGEMENT</div>
        <div class="healthim-head-right">HealthIM</div>
    </div>

    <div class="slideshow-container">

        <div class="mySlides fade" style="display:block;">
            <div class="numbertext">1 / 4</div>
            <img class="img-slide" src="../../assets/img/cm-slide-1.png" style="width:100%">
            <div class="text">Profile View</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 4</div>
            <img class="img-slide" src="../../assets/img/cm-slide-2.png" style="width:100%">
            <div class="text">Activity Log</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <img class="img-slide" src="../../assets/img/cm-slide-3.png" style="width:100%">
            <div class="text">Case Details</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <img class="img-slide" src="../../assets/img/cm-slide-4.png" style="width:100%">
            <div class="text">Search Filters</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dota" onclick="currentSlide(1)"></span>
        <span class="dota" onclick="currentSlide(2)"></span>
        <span class="dota" onclick="currentSlide(3)"></span>
        <span class="dota" onclick="currentSlide(4)"></span>
    </div>

    <div class="over-and-sum-horizontal">
        <div class="overview-text">OVERVIEW</div>
        <li class="bullet-pt"> Used AngularJS, jQuery, ChartJS, HTML5, and CSS3 to produce a seamless interface to display client information and risk history to hospital and policing administration.</li>
        <li class="bullet-pt"> Encrypted all data in transit using military-grade RSA-AES Encryption, and used a PostgreSQL database.</li>
        <li class="bullet-pt"> Utilized a Rails backend to configure routes to efficiently retrieve and post data to the server.</li>

        <div class="summary-text">SUMMARY</div>
        <div class="summary-para">
            Case Management is my most recent project with my previous company, HealthIM. It is a tool used by both hospital and police administration
            to perform history lookups on individuals who are frequently apprehended due to mental health crises. Since the data displayed is sensitive
            information, all identifiable information in transit is encrypted/decrypted using RSA/AES encryption. The tool allows administration to view
            an individual's previous apprehensions, analyze whether their at risk for another apprehension, and add sensitive information to their case file.
        </div>
    </div>

</body>
</html>