<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hand Exoskeleton - Hamza</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="../scripts/slides.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../scripts/header-transition.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="../../loader/dist/js/jquery.preloadinator.min.js"></script>
    <script src="../scripts/loader.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#222222">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="header-black">
    <img onclick="location.href = '../../index.html'" src="../../assets/img/hna_black.png" class="logo-hna">
    <div class="header-item"><a href="mailto:hamza.n.arshadwork@gmail.com" style="color: black">CONTACT</a></div>
    <div onclick="location.href = 'resume.html'" class="header-item"><a>RESUME</a></div>
    <div onclick="location.href = 'portfolio.html'" class="header-item"><a style="border-bottom: 1px solid black;">PORTFOLIO</a></div>
    <div class="header-item"><a onclick="location.href = 'https://github.com/hamzanadeveloper'">GITHUB</a></div>
    <div onclick="location.href = 'profile.html'" class="header-item"><a>ABOUT</a></div>
    <div onclick="location.href = '../../index.html'" class="header-item"><a>HOME</a></div>
</div>
<div class="preloader js-preloader flex-center">
    <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>

<div class="project-title-container">
    <div class="project-title">HAND EXOSKELETON</div>
    <div class="healthim-head-right">University of Waterloo</div>
</div>

<div class="slideshow-container">

    <div class="mySlides fade" style="display:block;">
        <div class="numbertext">1 / 3</div>
        <img class="img-slide" src="../../assets/img/exoskeleton.png" style="width:100%">
        <div class="text">Primary Fidelity Model</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img class="img-slide" src="../../assets/img/exoskeleton-slide-2.png" style="width:100%;height: 491px;">
        <div class="text">Phalangeal Joint</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img class="img-slide" src="../../assets/img/exoskeleton-slide-3.png" style="width:100%;height: 491px;">
        <div class="text">Early Prototype Design</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dota" onclick="currentSlide(1)"></span>
    <span class="dota" onclick="currentSlide(2)"></span>
    <span class="dota" onclick="currentSlide(3)"></span>
</div>

<div class="over-and-sum-horizontal">
    <div class="overview-text">OVERVIEW</div>
    <li class="bullet-pt"> Created functional prototype to prevent finger dislocations in child athletes with five person team.</li>
    <li class="bullet-pt"> Used SolidWorks to produce 3D-printed components from ABS plastic that would limit hyperextension and hyperflexion of the metacarpophalangeal joints (MCP).</li>
    <li class="bullet-pt"> Developed mathematical models to test the springs utilized in the project.</li>
    <li class="bullet-pt"> Utilized low and medium-fidelity prototypes as well as concept-sketching to reiterate the design.</li>

    <div class="summary-text">SUMMARY</div>
    <div class="summary-para">
        Given the problem space of child safety in sports, our team of 5 decided to tackle the issue of hyperflexion and hyperextension of the phalangeal joints,
        a problem prominent in hand-ball sports. We pursued a fitted hand-exoskeleton 3D-printed from ABS plastic that would be placed within a sports glove.
        The glove would limit both flexion and extension while at the same time not impacting the performance of the athlete.
    </div>
</div>

</body>
</html>
