<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal Dashboard - Hamza</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="../scripts/slides.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../scripts/header-transition.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="../../loader/dist/js/jquery.preloadinator.min.js"></script>
    <script src="../scripts/loader.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#222222">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="header-black">
    <img onclick="location.href = '../../index.html'" src="../../assets/img/hna_black.png" class="logo-hna">
    <div class="header-item"><a href="mailto:hamza.n.arshadwork@gmail.com" style="color: black">CONTACT</a></div>
    <div onclick="location.href = 'resume.html'" class="header-item"><a>RESUME</a></div>
    <div onclick="location.href = 'portfolio.html'" class="header-item"><a style="border-bottom: 1px solid black;">PORTFOLIO</a></div>
    <div onclick="location.href = 'profile.html'" class="header-item"><a>ABOUT</a></div>
    <div onclick="location.href = '../../index.html'" class="header-item"><a>HOME</a></div>
</div>
<div class="preloader js-preloader flex-center">
    <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>

<div class="project-title-container">
    <div class="project-title">INTERNAL DASHBOARD</div>
    <div class="healthim-head-right">Brantford Police Service</div>
</div>

<div class="slideshow-container">

    <div class="mySlides fade" style="display:block;">
        <div class="numbertext">1 / 3</div>
        <img class="img-slide" src="../../assets/img/internaldash-slide-3.png" style="width:100%;max-height:303px">
        <div class="text">Property Crimes</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img class="img-slide" src="../../assets/img/internaldash-slide-1.png" style="width:100%;max-height:303px">
        <div class="text">Violent Crimes</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img class="img-slide" src="../../assets/img/internaldash-slide-2.png" style="width:100%;max-height:303px">
        <div class="text">Crime Severity Index</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dota" onclick="currentSlide(1)"></span>
    <span class="dota" onclick="currentSlide(2)"></span>
    <span class="dota" onclick="currentSlide(3)"></span>
</div>

<div class="over-and-sum-horizontal">
    <div style="font-family: Metropolis-Light;font-size: 12px;">*Note: Data displayed above is <span style="font-family: Metropolis-Semi-Bold">mock data.</span></div>
    <div class="overview-text">OVERVIEW</div>
    <li class="bullet-pt"> Produced a seamless internal dashboard, displaying relevant statistics from recent quarters.</li>
    <li class="bullet-pt"> Thoroughly researched data extraction techniques; tested and employed XHR Requests, Fetch API, jQuery AJAX requests, and CORS requests to withdraw and manipulate data from a variety of sources.</li>
    <li class="bullet-pt"> Utilized Data-AOS libraries, CanvasJS, and jQuery to maximize UI/UX of the application. </li>

    <div class="summary-text">SUMMARY</div>
    <div class="summary-para">
        The Brantford Police Service required an internal dashboard that would report back statistics regarding the most recent quarters for the service.
        I experimented using XHR requests, Fetch API, and jQuery AJAX requests to obtain the data and display it in a graphical analysis on the webpage.
        I utilized PHP and MySQL to create a user authentication system so that an individual could manage the dashboard internally.
    </div>
</div>

</body>
</html>