<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio - Hamza Arshad</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../scripts/header-transition.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="../../loader/dist/js/jquery.preloadinator.min.js"></script>
    <script src="../scripts/loader.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#222222">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="header-black">
        <img onclick="location.href = '../../index.html'" src="../../assets/img/hna_black.png" class="logo-hna">
        <div class="header-item"><a href="mailto:hamza.n.arshadwork@gmail.com" style="color: black">CONTACT</a></div>
        <div class="header-item"><a>RESUME</a></div>
        <div class="header-item"><a style="border-bottom: 1px solid black;">PORTFOLIO</a></div>
        <div onclick="location.href = 'profile.html'" class="header-item"><a>ABOUT</a></div>
        <div onclick="location.href = '../../index.html'" class="header-item"><a>HOME</a></div>
    </div>
    <div class="preloader js-preloader flex-center">
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <div class="text-head">Hamza Arshad</div>
    <div style="margin:0 auto;width:1000px;">
        <div class="cm-card-container">
            <div class="cm-card">
                <div class="background-overlay-2">
                    <aside class="cm-hover-content">
                        <aside class="card-title">CASE MANAGEMENT</aside>
                        <aside class="card-org">HealthIM</aside>
                        <aside class="view-btn" onclick="location.href = 'case-management.html'">VIEW</aside>
                        <aside class="card-tech">TECHNOLOGIES</aside>
                        <aside class="card-tech-text">AngularJS, Ruby on Rails, PostgresSQL, RSA-AES Encryption</aside>
                    </aside>
                </div>
            </div>
        </div>
        <div class="digi-syringe-container">
            <div class="digi-syringe">
                <div class="background-overlay-2">
                    <aside class="digi-hover-content">
                        <aside class="card-title">DIGI-SYRINGE</aside>
                        <aside class="card-org">University of Waterloo</aside>
                        <aside class="view-btn" onclick="location.href = 'digi-syringe.html'">VIEW</aside>
                        <aside class="card-tech">TECHNOLOGIES</aside>
                        <aside class="card-tech-text">Arduino, Linear Potentiometer, Machine Shop, Soldering</aside>
                    </aside>
                </div>
            </div>
        </div>
        <div class="analytics-container">
            <div class="analytics">
                <div class="background-overlay-2">
                    <aside class="analytics-hover-content">
                        <aside class="card-title">ANALYTICS</aside>
                        <aside class="card-org">HealthIM</aside>
                        <aside class="view-btn" onclick="location.href = 'analytics.html'">VIEW</aside>
                        <aside class="card-tech">TECHNOLOGIES</aside>
                        <aside class="card-tech-text">D3JS, PhantomJS, Ruby on Rails, PostgresSQL</aside>
                    </aside>
                </div>
            </div>
        </div>
    </div>

    <div style="margin:0 auto;width:1000px;margin-top:50px;margin-bottom:50px">
        <div class="internal-card-container">
            <div class="internal-card">
                <div class="background-overlay-2">
                    <aside class="cm-hover-content">
                        <aside class="card-title">INTERNAL DASHBOARD</aside>
                        <aside class="card-org">Brantford Police Service</aside>
                        <aside class="view-btn" onclick="location.href = 'internal-dashboard.html'">VIEW</aside>
                        <aside class="card-tech">TECHNOLOGIES</aside>
                        <aside class="card-tech-text">XHR Requests, Fetch API, jQuery AJAX, Apache, PHP, MySQL, Data-AOS</aside>
                    </aside>
                </div>
            </div>
        </div>
        <div class="digi-syringe-container">
            <div class="exoskeleton">
                <div class="background-overlay-2">
                    <aside class="digi-hover-content">
                        <aside class="card-title">HAND EXOSKELETON</aside>
                        <aside class="card-org">University of Waterloo</aside>
                        <aside class="view-btn" onclick="location.href = 'exoskeleton.html'">VIEW</aside>
                        <aside class="card-tech">TECHNOLOGIES</aside>
                        <aside class="card-tech-text">SolidWorks, AutoCAD, Machine Shop</aside>
                    </aside>
                </div>
            </div>
        </div>
        <div class="analytics-container">
            <div class="paid-duty">
                <div class="background-overlay-2">
                    <aside class="analytics-hover-content">
                        <aside class="card-title">PAID DUTIES</aside>
                        <aside class="card-org">Brantford Police Service</aside>
                        <aside class="view-btn" onclick="location.href = 'paid-duty.html'">VIEW</aside>
                        <aside class="card-tech">TECHNOLOGIES</aside>
                        <aside class="card-tech-text">PHP, MySQL, CRON, Apache, Javascript, PHPSpreadSheet</aside>
                    </aside>
                </div>
            </div>
        </div>
    </div>

</body>

</html>