<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <title>Portfolio - Hamza Arshad</title>
</head>
<body>
    <div class="header-black">
        <img src="../../assets/img/hna_black.png" class="logo-hna">
        <div class="header-item"><a>CONTACT</a></div>
        <div class="header-item"><a>RESUME</a></div>
        <div class="header-item"><a>PORTFOLIO</a></div>
        <div class="header-item"><a>ABOUT</a></div>
        <div onclick="location.href = 'index.html'" class="header-item"><a>HOME</a></div>
    </div>
    <div style="font-family: Metropolis-Light;text-align: center;margin-top: 130px; font-size:36px;margin-bottom:50px">Hamza Arshad</div>
    <div style="margin:0 auto;width:1000px;">
        <div class="cm-card-container">
            <div class="cm-card">
                <div class="background-overlay-2">
                    <aside class="cm-hover-content">
                        <aside class="card-title">CASE MANAGEMENT</aside>
                        <aside class="card-org">HealthIM</aside>
                        <aside class="view-btn">VIEW</aside>
                        <aside class="card-tech">TECHNOLOGIES</aside>
                        <aside class="card-tech-text">AngularJS, Ruby on Rails, PostgresSQL, RSA-AES Encryption</aside>
                    </aside>
                </div>
            </div>
        </div>
        <div class="digi-syringe-container">
            <div class="digi-syringe">
                <div class="background-overlay-2">
                    <aside class="digi-hover-content">
                        <aside class="card-title">DIGI-SYRINGE</aside>
                        <aside class="card-org">University of Waterloo</aside>
                        <aside class="view-btn">VIEW</aside>
                        <aside class="card-tech">TECHNOLOGIES</aside>
                        <aside class="card-tech-text">Arduino, Linear Potentiometer, Machine Shop, Soldering</aside>
                    </aside>
                </div>
            </div>
        </div>
        <div class="analytics-container">
            <div class="analytics">
                <div class="background-overlay-2">
                    <aside class="analytics-hover-content">
                        <aside class="card-title">ANALYTICS</aside>
                        <aside class="card-org">HealthIM</aside>
                        <aside class="view-btn">VIEW</aside>
                        <aside class="card-tech">TECHNOLOGIES</aside>
                        <aside class="card-tech-text">D3JS, PhantomJS, Ruby on Rails, PostgresSQL</aside>
                    </aside>
                </div>
            </div>
        </div>
    </div>

</body>

</html>