<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../scripts/header-transition.js"></script>
    <title>Profile - Hamza Arshad</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="../../loader/dist/js/jquery.preloadinator.min.js"></script>
    <script src="../scripts/loader.js"></script>
</head>
<body>
    <div class="header-black">
        <img onclick="location.href = '../../index.html'" src="../../assets/img/hna_black.png" class="logo-hna">
        <div class="header-item"><a href="mailto:hamza.n.arshadwork@gmail.com" style="color: black">CONTACT</a></div>
        <div class="header-item"><a>RESUME</a></div>
        <div onclick="location.href = 'portfolio.html'" class="header-item"><a>PORTFOLIO</a></div>
        <div class="header-item"><a style="border-bottom: 1px solid black;">ABOUT</a></div>
        <div onclick="location.href = '../../index.html'" class="header-item"><a>HOME</a></div>
    </div>
    <div class="preloader js-preloader flex-center">
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
    <div class="text-head">Hamza Arshad</div>
    <div class="profile-content-container">
        <img src="../../assets/img/profile.png" class="profile-img">
        <div class="profile-text-container">
            <div class="about-me-profile">ABOUT ME</div>
            <div class="first-para">
                My name is Hamza Arshad and I am currently in my 2B term studying Biomedical Engineering
                at the University of Waterloo. On top of my choice of specialization in engineering, I have a strong affinity for
                computer science and hardware. I love tinkering with new tech in my spare time, and for that
                very reason I enjoy learning new frameworks and languages in full-stack development. My dream
                is to eventually start my own SaaS company where I could service patients and clinicians in making
                medical treatment more efficient and secure.
            </div>
            <div class="second-para">
                As of this moment, I am <span style="font-family: Metropolis-Semi-Bold">seeking employment for
                the Fall 2019 term</span>. In my previous endeavours, I have operated the whole stack, using
                legacy stacks such as WAMP/XAMP stacks, to transitioning into more contemporary web-based architecture,
                such as a Rails backend, a JS (React, Angular, D3) front-end, and a PostgreSQL server.
            </div>
            <div class="third-para">
                As for my future endeavours, I am open to all opportunities. I would love to learn new skills
                and be placed in a fast-paced environment where I can be challenged and create something of my own.
            </div>
            <div class="contact-head-profile">CONTACT</div>
            <div class="left-field-container">
                <div class="left-field-profile">Phone: </div>
                <div class="left-field-profile">Email: </div>
                <div class="left-field-profile">LinkedIn: </div>
            </div>
            <div class="right-field-container">
                <div class="left-field-profile">289 - 941 - 4545 </div>
                <div class="left-field-profile">hamza.n.arshadwork@gmail.com </div>
                <div class="left-field-profile">Hamza Arshad </div>
            </div>

        </div>
    </div>

</body>
</html>